<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.shop.mapper.AddressMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.shop.model.AddressDO">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="default_status" property="defaultStatus" />
        <result column="receive_name" property="receiveName" />
        <result column="phone" property="phone" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="region" property="region" />
        <result column="detail_address" property="detailAddress" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, default_status, receive_name, phone, province, city, region, detail_address, create_time
    </sql>

</mapper>
