<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.shop.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.shop.model.UserDO">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="pwd" property="pwd" />
        <result column="head_img" property="headImg" />
        <result column="slogan" property="slogan" />
        <result column="sex" property="sex" />
        <result column="points" property="points" />
        <result column="create_time" property="createTime" />
        <result column="mail" property="mail" />
        <result column="secret" property="secret" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, pwd, head_img, slogan, sex, points, create_time, mail, secret
    </sql>

</mapper>
