<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.shop.mapper.CouponMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.shop.model.CouponDO">
        <id column="id" property="id" />
        <result column="category" property="category" />
        <result column="publish" property="publish" />
        <result column="coupon_img" property="couponImg" />
        <result column="coupon_title" property="couponTitle" />
        <result column="price" property="price" />
        <result column="user_limit" property="userLimit" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="publish_count" property="publishCount" />
        <result column="stock" property="stock" />
        <result column="create_time" property="createTime" />
        <result column="condition_price" property="conditionPrice" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, category, publish, coupon_img, coupon_title, price, user_limit, start_time, end_time, publish_count, stock, create_time, condition_price
    </sql>

</mapper>
